.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header h1 {
  font-size: 3em; 
}

.App-header p {
  font-size: 1.5em;
}

.App-header {
  background-color: #282c34;
  padding: 150px;
  color: white;
}

.shoe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.shoe-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
